<a href="https://colab.research.google.com/github/RayssaCarminati/ENG_20242/blob/main/Atividade1/atv_conjunto_set_24102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.
inteiros=[1,2,3,4,5,6]
for numero in inteiros:
  dobro= numero * 2
  print(dobro)

2
4
6
8
10
12

In [6]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.
fruta=["maçã","banana","laranja","uva"]
fruta.remove("banana")
fruta.append("melancia")
print(fruta)

['maçã', 'laranja', 'uva', 'melancia']

In [7]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.
numeros=[10, 5, 8, -5, 4]
maior=max(numeros)
menor=min(numeros)
print(f"O maior numero da listas é: {maior} e o menor numeor da lista é {menor}")

O maior numero da listas é: 10 e o menor numeor da lista é -5

In [13]:
#4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.
palavras=["banana","uva","maça","pera"]
lista=[]
for palavra in palavras:
  lista.append(len(palavra))
  print(lista)

[6]
[6, 3]
[6, 3, 4]
[6, 3, 4, 4]

In [14]:
#5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.
num=[10,5,6,4,8]
num.sort()
print(num)

[4, 5, 6, 8, 10]

In [19]:
#6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.
tupla=(1,2,3,4,5)
tupla[1]=15
print(tupla) #deu erro pois a tupla é imutavel, seu valor não pode ser alterado!

TypeError: 'tuple' object does not support item assignment

In [21]:
#7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.
tupla=(1,2,3,4,5)
soma=sum(tupla)
print(soma)

15

In [23]:
#8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.
minha_tupla=(1,5,8,7,6)
primeiro=minha_tupla[0]
ultimo=minha_tupla[-1]
print(f"O primeiro é: {primeiro} e o ultimo é {ultimo}")

O primeiro é: 1 e o ultimo é 6

In [25]:
#9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.
lista=["a","b","c","d"]
tupla=tuple(lista)
print(tupla)
print(type(tupla))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [26]:
#10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.
tupli=(3,5,8,"kiwi")
if 3 in tupli:
  print(f"O numero 3 está presente")
else:
  print(f"O numero 3 não está presente")

O numero 3 está presente

In [27]:
#11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.
set1={1,2,3,4}
set2={3,4,5,6}
união=set1.union(set2)
intersec=set1.intersection(set2)
dif=set1.difference(set2)
print(f"A união corresponde a: {união}, a interseção entre eles é: {intersec} e a diferença: {dif}")

A união corresponde a: {1, 2, 3, 4, 5, 6}, a interseção entre eles é: {3, 4} e a diferença: {1, 2}